.box {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(light.jpg);
  background-position: 0 0;
  background-size: auto 100%;
  margin: 0;
  padding: 0;
}

.a {
  text-align: center;  
  height: auto;
  float: left;
  background-image: none;
}

.b {
  width: 100%;
  display: block;
}

.b.light {
  background-position: -50px 0;
}
